<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>New Message</title>
</head>
<body>
    <% if (user) { %>
    <form action="" method="POST">
        <div class="message-input">
        <textarea placeholder="Enter message text..." name="content" id="textarea" cols="30" rows="10"></textarea>
        <button type="submit">Submit</button>
    </div>
    </form>
    <% } else{ %>
        <a href="/login">Please login</a>
    <% } %>
</body>
</html>