<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passcode</title>
</head>
<body>
    <% if (user) { %>
    <h5>Enter the secret passcode.</h5>
    <form action="/passcode" method="POST" >
        <label for="passcode">Passcode:</label>
        <input type="password" name="passcode" />
        <button type="submit">Submit</button>
    </form>
    <% } else{ %>
        <a href="/login">Please Login</a>
    <% } %>
</body>
</html>